.round-button {
    padding: 8px;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-button:active {
    background-color: rgba(120, 120, 120, 0.2);
}