.home-page {
    height: 100%;
    width: 100%;
    background-image: url("../../assets/background-pattern-1.svg");
    background-repeat: repeat;
    background-size: auto;
}

.home-page-content {
    height: 100%;
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 32px;
    margin-right: auto;
    margin-left: auto;
}

.home-page-buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}