.history-list {
    height: 100%;
    width: 100%;
    max-width: 1024px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
    padding-bottom: 16px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px;
}