.question {
    width: 100%;
    background-color: white !important;
    border-radius: 16px;
    flex-grow: 1;
    display: flex;
    position: relative;
    align-items: center;
    box-shadow: 0px 0px 1px 2px rgba(187,184,184,1);
    -webkit-box-shadow: 0px 0px 1px 2px rgba(187,184,184,1);
    -moz-box-shadow: 0px 0px 1px 2px rgba(187,184,184,1);
    justify-content: center;
    overflow: visible;
    padding: 32px;
}

.question::before {
    content: '';
    background-color: #f3f2f2;
    height: 100%;
    z-index: -1;
    border-radius: 16px;
    width: 100%;
    position: absolute;
    transform: rotate(-1deg);
}

.question::after {
    content: '';
    background-color: #dad8d8;
    height: 100%;
    z-index: -2;
    border-radius: 16px;
    width: 100%;
    left: 3px;
    position: absolute;
    transform: rotate(1.2deg);
}