* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Mikado, sans-serif;
  letter-spacing: 0;
  word-spacing: 0;
}

#root {
  height: 100vh;
  width: 100vw;
}

body {
  background-color: #08D2FF;
}

.title {
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-family: Mikado, sans-serif;
  font-size: 48px;
  text-shadow: 1px 1px 2px black;
}