.game-header {
    display: flex;
    flex-direction: row;
    padding: 32px 16px;
    width: 100%;
    border-radius: 12px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-between;
}

.game-header-back-icon {
    width: 48px;
    height: 48px;
    fill: white;
}

.game-header-check-icon {
    height: 48px;
    width: 48px;
}

.game-header > :nth-child(n) {
    flex-grow: 1;
    min-width: 33%;
}

.game-header-correct-quantity-container {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: center;
    color: green;
    font-size: 48px;
    font-weight: bolder;
    text-shadow: 1px 1px 0 rgb(1, 104, 1);
}

.game-header-back-and-icon > :first-child {
    align-self: center;
}

.game-header-back-and-icon {
    display: flex;
    align-items: center;
    gap: 8px;
}

.game-header-round-counter, .game-header-difficulty {
    font-size: 24px;
    font-weight: normal;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    align-content: center;
    text-align: center;
    text-shadow: 1px 1px 0 black;
}

.game-header-info-game {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: flex-end;
}


@media only screen and (max-width: 768px) {
    .game-header-info-game {
        flex-direction: column;
        gap: 4px;
    }

    .game-header {
        padding: 32px 0px;
    }

    .game-header-info-game {
        width: 0;
        flex-grow: 1;
    }

    .game-header-check-icon {
        display: none;
    }
}

